name: Deploy AWS

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      packages: write

    steps:
      - name: Clone do projeto
        uses: actions/checkout@v4
        
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          server-id: github
          settings-path: ${{ github.workspace }}
          
      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: "thaisrs3"
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: thaisrs3/filme-pf-ci:${{ github.sha }}

      - name: Deploy to AWS EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_TEST }}
          username: "ubuntu"
          key: ${{ secrets.KEY_TEST }}
          port: 22
          script: |
     
            docker system prune -af

          
            docker network inspect rede >/dev/null 2>&1 || docker network create rede

        
            docker stop filmes || true
            docker rm --force filmes || true

     
            docker ps | grep mongo || docker run -d \
              --name mongo \
              --network rede \
              -p 27017:27017 \
              -v mongo_data:/data/db \
              mongo

  
            docker run -d -p 8080:8080 \
              -e spring_profiles_active=prod \
              -e MONGO_URI=mongodb://mongo:27017/filmes \
              --network=rede \
              --name filmes \
              thaisrs3/filme-pf-ci:${{ github.sha }}

 
